<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/pinch-zoom-canvas@1.0.4/pinch-zoom-canvas.js"></script>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>

    <script src="coords.js"></script>
    <script src="routes.js"></script>
</head>

<style>
    body {
        margin: 0;
        overflow: hidden;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    #app {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    canvas {
        flex: 1;
    }

    header,
    footer {
        padding: 10px;
    }

    header {
        display: flex;
    }

    header>div {
        width: 50%;
        padding: 0 10px;
    }

    select {
        width: 100%;
    }
</style>

<body>
    <div id="app">
        <header>
            <div>
                <label>By Name</label>
                <br>
                <select v-model="route">
                    <option v-for="route in routesByName" :key="route.name" :value="route">
                        {{route.name}} ({{route.grade}})
                    </option>
                </select>
            </div>
            <div>
                <label>By Grade</label><br>
                <select v-model="route">
                    <option v-for="route in routesByGrade" :key="route.name" :value="route">
                        {{route.name}} ({{route.grade}})
                    </option>
                </select>
            </div>
        </header>
        <canvas id="canvas"></canvas>
        <footer v-if="route">
            {{route.name}}: {{route.points.join(" -> ")}}
        </footer>
    </div>
</body>

<script>
    new Vue({
        el: "#app",
        data() {
            var qs = window.location.search.substr(1).split("&").map(s => s.split("=")).reduce((p, n) => (p[n[0]] = n[1], p), {});
            return {
                routesByName: [...routes.sort((a, b) => a.name.localeCompare(b.name))],
                routesByGrade: [...routes.sort((a, b) => a.grade.substr(1) - b.grade.substr(1))],
                route: routes.find(r => r.name === qs["route"])
            }
        },
        computed: {
            points() {
                if (this.route) {
                    return this.route.points.map((p, i) => {
                        var coord;
                        console.log(p);
                        if (p === 0) {
                            coord = { ...coords[this.route.points[i + 1]] };
                            coord.y = 1100;
                        } else {
                            coord = coords[p];
                        }
                        var point = { x: coord.x, y: coord.y }
                        if (i > 0 && this.route.points[i - 1] === p) {
                            point.x += 10;
                        }
                        point.label = p;
                        if (i <= 1) {
                            point.color = "#1EFF1eee"
                        } else {
                            point.color = "#1E90FFee"
                        }
                        return point;
                    })
                }

            }
        },
        mounted() {
            const vue = this;
            // Override the render function to draw our custom points
            const render = PinchZoomCanvas.prototype.render;
            PinchZoomCanvas.prototype.render = function () {
                const canvas = this;
                render.apply(this, arguments);
                const size = Math.min(Math.max(this.scale.x / 5 * 50, 10), 50);

                this.context.fillStyle = "white";
                this.context.font = (size * 2) + "px  Arial Narrow";
                this.context.textAlign = "center";

                function getCoord(point) {
                    return {
                        x: point.x * canvas.scale.x + canvas.position.x,
                        y: point.y * canvas.scale.y + canvas.position.y
                    }
                }

                this.context.lineWidth = 3 * this.scale.x;
                this.context.strokeStyle = "red";

                this.context.beginPath();
                let coord = getCoord(vue.points[0]);
                this.context.moveTo(coord.x, coord.y);

                for (const point of vue.points.slice(1)) {
                    const coord = getCoord(point);
                    this.context.lineTo(coord.x, coord.y);
                    this.context.stroke();
                }

                const end = { ...vue.points[vue.points.length - 1] };
                end.y = 150;
                coord = getCoord(end);
                this.context.lineTo(coord.x, coord.y);
                this.context.stroke();

                if (vue.route.name) {
                    this.context.fillText(vue.route.name, coord.x, coord.y);
                }

                for (const point of vue.points) {
                    this.context.fillStyle = point.color;
                    const coord = getCoord(point);

                    this.context.beginPath();
                    this.context.arc(coord.x, coord.y, size, 0, 2 * Math.PI);
                    this.context.fill();

                    this.context.fillStyle = "white";
                    this.context.fillText(point.label, coord.x + 17 * this.scale.x / 2, coord.y - 14 * this.scale.x / 2);
                }


            }
            const canvas = document.getElementById('canvas');
            const pinchZoom = new PinchZoomCanvas({
                canvas,
                path: "wall.jpg",
                doubletap: false
            });
        }
    });






    // var image = new Image();
    // image.addEventListener("load", () => {
    //     pinchZoom.pause();
    //     pinchZoom.imgTexture = image;
    //     pinchZoom.resume();
    // })
    // image.src = "wall.jpg";
</script>

</html>